@import "tailwindcss";

@theme {
  --font-sans: 'LXGW WenKai Lite', ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: 'LXGW WenKai Lite', ui-sans-serif, system-ui, sans-serif;
  color: white;
  background-color: #000;
}